.features {
  padding: 50px 0;
  background-color: #14110E;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.feature-card {
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card img {
  width: 100%;
  border-radius: 10px;
}

.feature-card h3 {
  margin-top: 15px;
  font-size: 20px;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
